# Authentication
tenancy_ocid         = "<tenancy_ocid>"
user_ocid            = "<user_ocid>"
fingerprint          = "<fingerprint>"
private_key_path     = "<private_key_path>"

# Region
region = "<region>"

# Compartment
compartment_ocid = "<compartment_ocid>"

# Number of WP nodes (optional)
numberOfNodes = 2

# Passwords
admin_password = "<admin_password>"
wp_password    = "<wp_password>"
wp_site_admin_pass = "<wp_site_admin_pass>"

